.sphere {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  margin: 30px;
  /* transition: background-color 0.4s;
  transition-timing-function: linear; */
}

/* .sphere:hover {
  background-color: aqua;
} */
