/* @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html,
body {
  /* font-family: "Encode Sans SC", -apple-system, BlinkMacSystemFont, Segoe UI, */
  font-family: "Bebas Neue", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  box-sizing: border-box;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  /* background: linear-gradient(140deg, #ffc0cb, #fce3e7); */
  background: linear-gradient(290deg, white 0%, pink 100%);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 0;
  font-size: 60%;
}

.title > h1 {
  text-align: right;
}

.subtitle {
  text-align: right;
}

.projectsFooter {
  height: 300px;
  position: absolute;
  bottom: 0;
  display: flex;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  padding: 100px;
  max-width: 90vw;
}
.projectInFooter {
  min-width: 200px;
  min-height: 200px;
  border: 1px solid black;
  margin-right: 30px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  padding: 30px;
}
.projectInFooter > span {
  text-align: center;
  margin: auto;
}

.footerBtns {
  position: absolute;
  top: 0;
  right: 0;
}

.showProjectsBtn {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.arrowContainer {
  display: flex;
  justify-content: center;
}

.arrow {
  margin-right: 50px;
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}
