html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  /* background: linear-gradient(140deg, #ffc0cb, #fce3e7); */
  background: linear-gradient(0deg, lightgrey, #fce3e7);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 0;
}

.title > h1 {
  text-align: right;
}

.subtitle {
  text-align: right;
}

.projectsFooter {
  height: 300px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: left;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  padding: 100px;
}
.projectInFooter {
  min-width: 200px;
  min-height: 200px;
  border: 1px solid black;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.footerBtns {
  position: absolute;
  top: 0;
  right: 0;
}

.showProjectsBtn {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
